body {
    font-family: 'Lato', sans-serif;
    padding: 1.5rem;
    line-height: 1.7;
}

header {
    height: 95vh;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.view1 {
    background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url('./img/hero-small.jpg');
    background-size: cover;
}

.main-heading {
    text-align: center;
    color: #fff;
    letter-spacing: 1.8rem;
    margin: 0;
    padding-top: 10%;
    font-size: 4rem;
    font-weight: 400;
}

.sub-heading {
    text-align: center;
    color: white;
    letter-spacing: 0.95rem;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 700;
}

.logo {
    position: absolute;
    top: 4.5rem;
    left: 5rem;
}

.logo-img {
    height: 2.25rem;
}

.button {
    text-align: center;
    padding-top: 3.5rem;
}

.white-button {
    animation: pulse-in 0.4s reverse ease-in;
    color: #777;
    background: #fff;
    padding: 1.1rem 3rem;
    border-radius: 10rem;
    --hover: #FFF;
}

.white-button:hover,
.white-button:focus {
    animation: pulse 0.5s;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--hover);
    }
    100% {
        box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
    }
}

@keyframes pulse-in {
    0% {
        box-shadow: 0 0 0 0 var(--hover);
    }
    100% {
        box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
    }
}

@keyframes shrink {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.8);
    }
}

* {
    box-sizing: border-box;
    font-weight: 400;
}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
}

.outer-menu {
    position: fixed;
    top: 13vh;
    right: 8rem;
    z-index: 1;
}

.outer-menu .checkbox-toggle {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 60px;
    height: 60px;
    opacity: 0;
}

.outer-menu .checkbox-toggle:checked+.hamburger>div {
    transform: rotate(135deg);
}

.outer-menu .checkbox-toggle:checked+.hamburger>div:before,
.outer-menu .checkbox-toggle:checked+.hamburger>div:after {
    top: 0;
    transform: rotate(90deg);
}

.outer-menu .checkbox-toggle:checked+.hamburger>div:after {
    opacity: 0;
}

.outer-menu .checkbox-toggle:checked~.menu {
    pointer-events: auto;
    visibility: visible;
}

.outer-menu .checkbox-toggle:checked~.menu>div {
    transform: scale(1);
    transition-duration: .75s;
    z-index: 5;
}

.outer-menu .checkbox-toggle:checked~.menu>div>div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
}

.outer-menu .checkbox-toggle:hover+.hamburger {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.outer-menu .checkbox-toggle:checked:hover+.hamburger>div {
    transform: rotate(225deg);
}

.outer-menu .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: .5em 1em;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: box-shadow 0.4s ease;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer-menu .hamburger>div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #333; //transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer-menu .hamburger>div:before,
.outer-menu .hamburger>div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background: inherit;
    transition: all 0.4s ease;
}

.outer-menu .hamburger>div:after {
    top: 10px;
}

.outer-menu .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    visibility: hidden;
    overflow: hidden;
    backface-visibility: hidden;
    outline: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer-menu .menu>div {
    width: 200vw;
    height: 200vw;
    color: #fefefe;
    background: radial-gradient(#7ed56f, #28b485);
    border-radius: 50%;
    transition: all 0.4s ease;
    flex: none;
    transform: scale(0);
    backface-visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer-menu .menu>div>div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease; //overflow-y: auto;
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer-menu .menu>div>div>ul {
    list-style: none;
    padding: 0 1em;
    margin: 0;
    display: block;
    max-height: 100vh;
}

.outer-menu .menu>div>div>ul>li {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: 300;
    display: block;
    text-transform: uppercase;
}

.outer-menu .menu>div>div>ul>li>a {
    position: relative;
    display: inline;
    cursor: pointer;
    text-decoration: none;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 220%;
    padding: 1rem 2rem;
    transition: all 0.4s ease;
}

.outer-menu .menu>div>div>ul>li>a:hover {
    background-position: 100%;
    color: #55c57a;
    transform: translateX(1rem);
}

.outer-menu .menu>div>div>ul>li>a:hover:after {
    width: 100%;
}

span {
    padding-right: 1rem;
}

.exciting {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    text-align: center;
    background: -webkit-linear-gradient(#7ed56f, #28b485);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 3rem;
    transition: all .2s
}

.exciting:hover {
    transform: skewY(2deg) skewX(15deg) scale(1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.5);
}

.row {
    display: flex;
    justify-content: center;
}

.row>* {
    flex: 1;
}

h3 {
    font-weight: 700;
    color: #777;
}

.para {
    color: #777;
}

.right2 {
    position: relative;
    padding-left: 10rem;
}

.pic {
    position: absolute;
    z-index: 0 !important;
    transform: scale(0.95);
    outline-offset: 1rem;
    transition: all 0.3s ease;
}

.pic:hover {
    outline: 0.7rem solid #55c57a;
    transform: scale(1.05) translateY(-0.5rem);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
    z-index: 20
}

.pic1 {
    z-index: auto;
}

.pic2 {
    z-index: 2;
    left: 26rem;
    top: 2rem;
}

.pic3 {
    z-index: 3;
    left: 18rem;
    top: 8rem;
}

.left2 {
    padding-left: 8rem;
    padding-right: 0;
}

.learn {
    color: #55c57a;
}

.l-more {
    border-bottom: 1px solid #55c57a;
}

.l-more:hover {
    background-color: #55c57a;
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-2px)
}